CompileFlags:
  Add:
    - -I/usr/include/qt6
    - -I/usr/include/qt6/QtWidgets
    - -I/usr/include/qt6/QtGui
    - -I/usr/include/qt6/QtCore
    - -I./build/Desktop_Debug/playlist-manager_autogen/include
  Remove:
    - -mno-direct-extern-access
